<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=bruno-ace:400" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/fat-wobble-outlines" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.cursors-4u.net/cursors/animated/slapping-cat-1348ecde-128.css">
    <link rel="stylesheet" href="../blog-post.css">
    <title>{{ title }}!</title>
</head>
<body>
    <div class="content">
        <div class="main-menu">
            <div class="header">
                Maj's Blog
            </div>
            <div class="sidebar">
                <audio class="music-player" controls loop>
                    <source src="audio/Dearly Beloved-MU4OhuoKNJc.mp3" type="audio/mpeg">
                    Audio Player
                </audio>
                <a href="index.html">index</a>
                <a href="blog.html">all posts</a>
                <a>next post</a>
                <a>prev post</a>
            </div>
            <div class="main">
                {{ content | safe }}
            </div>
            <div class="footer">
                <h1>&star; maj &verbar; 2026 &star;</h1>
            </div>
        </div>
    </div>
</body>
</html>